    <section class="colon14">
      <% if @user == current_user %>
        <% @name="My Hair Feed" %>       
      <% else %>
      <% @name= @user.name + "'s Hair Feed" %>      
      <% end %>


        <!-- START CONTENT AND SIDEBAR -->
        <div class="container general">
            <div id="content" class="single col-lg-12 col-md-12 col-sm-12">

                <div class="message text-center">
                  <h2><span><%= @user.name %>'s</span> Activity feed</h2>
                </div>
          
     
<ul>
         
  



    <% @activities.each do |activity| %>
        <% if activity.action_type == "comment" %>
          
  <p><%= link_to image_tag(@user.image.url(:thumbnail), width: '50'), @user %> <%= link_to @user.name, @user %> commented "<%= activity.content %>" on <%= link_to image_tag(User.find_by(id: activity.receiver_id).image.url(:thumbnail), width: '50'), User.find_by(id: activity.receiver_id) %> <%= link_to User.find_by(id: activity.receiver_id).name, User.find_by(id: activity.receiver_id) %>'s <%= link_to "post", Style.find_by(id: activity.object_id) %></p>
  
        <% elsif activity.action_type == "like" %>
            <p><%= link_to @user.name, @user %> liked <%= link_to User.find_by(id: activity.receiver_id).name, User.find_by(id: activity.receiver_id) %>'s <%= link_to "post", Style.find_by(id: activity.object_id) %></p>
    
        <% elsif activity.action_type == "follow" %>
             <p> <%= link_to @user.name, @user %> <%= activity.action %> <%= link_to User.find_by(id: activity.receiver_id).name, User.find_by(id: activity.receiver_id) %> </p>
        <% end %>

      
    <% end %>
   </ul>
              
 

        </div><!-- end container -->
         
  
    <!-- END CONTENT -->
    
	</section><!-- end colon1 -->

