<section class="colon14">
  <% @name= @user.name%>
       
        <!-- START CONTENT AND SIDEBAR -->
        <div class="container general buddypress-container">
        
            <div id="content" class="single col-lg-8 col-md-8 col-sm-12">

                <div class="buddypress-single-header">
                	<div class="col-lg-3 col-md-3 col-sm-12">
						<div class="buddy-group-blocks buddy-members">
							<figure class="inverse">
                <%= cl_image_tag(@user.image) %>
			
						</div>
                    </div>
                    
                	<div class="col-lg-9 col-md-9 col-sm-12">
							<figcaption>
                <h3><%= @user.name %></h3>
                <p><%= @user.bio %></p>
							</figcaption>
							</figure>
                    </div>
                </div> <!-- end author -->
               
              <div class="clearfix"></div>
              <div class="divider"></div>

              <div class="col-sm-12 col-lg-12">
                <div class="well">
                	<ul>
                    	<li><h5>Member Since <span class="label label-warning" data-effect="pop"><%= @user.created_at.strftime("%b, %Y") %></span></h5></li>
                    <li><h5>Posted<span class="label label-warning" data-effect="pop"><%= @user.styles.count %> </span>styles</h5></li>

                    </ul>
              <div class="clearfix"></div>
                </div>
              </div>

                
<ul class="buddy-activity">

				<li>
          <h3 class="text-center"> Styles shared by <%= @user.name %></h3>
          <% @user.styles.each do |style| %>    
                    <div class="col-lg-3 col-md-3 col-sm-6">
                      <div class="portfolio-columns">
                        <%= link_to(style,  "data-no-turbolink" => true) do %>                  
                          <%= cl_image_tag(style.image1, :width => 250, :height => 250,  :crop => :fill, :gravity => :face) %>
                        <div>
                          <br><br>
                        <h5><%= style.name %></h5>
                        </div>
                        <%end %>
                       </div>
                    </div>
            <% end %>       
				</li>

		
			</ul>

                      
    		<div class="clearfix"></div>
            
            </div><!-- end content -->
            
            
            <div id="sidebar" class="col-lg-4 col-md-4 col-sm-12">
				
                <div class="widget">
                    <div class="search">
                        <input type="text" size="16" placeholder="Search&hellip;" name="s" id="s">
                    </div>
                </div>
                                
                <div class="widget">
            	<h2 class="general-title">
                <span>Styles <%= @user.name %> likes</span>
				</h2>
                	<div class="buddy-members">
                    	<ul>
                        <% @user.find_voted_items.take(10).each do |style| %> 
                        <li><%= link_to cl_image_tag(style.image1), style %></li>
                        <% end %>
                    		
                    	</ul>
                    </div>
                </div>

				<div class="clearfix"></div>
                

                
                
            </div><!-- end sidebar -->
            
        </div><!-- end container -->
	
    <!-- END CONTENT AND SIDEBAR -->
    
	</section><!-- end colon1 -->