<% @name= "Cropping " + @style.name %>
<% @page= 'crop' %>

    <section class="colon14">
        <!-- START CONTENT AND SIDEBAR -->
        <div class="container general">
            <div id="content" class="single col-lg-12 col-md-12 col-sm-12 text-center">
             <%= form_for @style do |f| %>
              <h2>Tagging the Stylist</h2>
              <br>
              <h4>Select your stylist from this list</h4>
              
              
             <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                          <% User.where(phone: @style.phone).each do |user| %>
                          <h5><%= image_tag(user.image.url(:thumbnail), width:'50') %> <%= user.name %></h5>
                          <% end %>
                    </div>
                    <div class="col-md-4">
                      
                      <%User.where(phone: @style.phone).each do |user| %>
                      <%= f.select :stylist_id, [[user.name, user.id]] , :prompt => 'Select a category', class:"form-control", required: "true", class: "form-control"  %>
                          <% end %>
                    </div>
             </div>
                
                
              <h4>Or Enter the Stylist's name</h4>
               
                  <div class="row">
                        <div class="col-md-4  col-md-offset-4"> 
                          <%= f.text_field :stylist_name, class: "form-control" %>
                        </div>
                        
                  </div>
              <br><br>
              <h2>Cropping The Image</h2>
              
              <%= image_tag @style.image1.url, :id => "cropbox" %>

              
                <%= f.hidden_field :crop_x, :id => "crop_x" %>
                <%= f.hidden_field :crop_y, :id => "crop_y" %>
                <%= f.hidden_field :crop_h, :id => "crop_h" %>
                <%= f.hidden_field :crop_w, :id => "crop_w" %>
              <br>
              <p><%= f.submit "Crop the Image!", class:"btn btn-primary btn-lg"%>
              
              
         
              
              </p>
              <% end %>
              
             
        </div>  	
    <!-- END CONTENT -->
      </div>
	</section><!-- end colon1 -->


<script type="text/javascript">

  
  $(function() {
  $('#cropbox').Jcrop({
    onChange: update_crop,
    onSelect: update_crop,
    setSelect: [0, 0, 500, 500],
    aspectRatio: 1
  });
});
  
  function update_crop(coords) {
  $('#crop_x').val(coords.x);
  $('#crop_y').val(coords.y);
  $('#crop_w').val(coords.w);
  $('#crop_h').val(coords.h);  
}
</script>