<% @name= @style.name %>
<section class="colon14">

        <!-- START CONTENT AND SIDEBAR -->
        <div class="container general">
            <div id="content" class="single-portfolio">
                
            	<div class="col-lg-6 col-md-6 col-sm-12">
                    <div id="myCarousel" class="carousel slide">
                      <div class="carousel-inner">
                        <!-- Slide 1 -->
                        <div class="item active">
                          <%= cl_image_tag(@style.image1,  :x => @style.crop_x, :y => @style.crop_y, :width => @style.crop_w, :height => @style.crop_h, :crop => :crop, :id => "zoom") %>
                        </div>
                        
                      </div>
                      
                    </div>  
                </div> 
                
            	<div class="col-lg-6 col-md-6 col-sm-12">
               	<h2 class="general-title">
                  <h2>
                     <%= @style.name %> <br>
                    <% if @style.stylist_id.nil? %>   
                        <small>Hair done by <%= @style.stylist_name %> </small>
                    <% else %>
                    <small>Hair done by <%= link_to @style.stylist.name, @style.stylist %> </small>
                    <% end %>
                  
                  </h2>
                </h2>
                  <p>Posted by <%= link_to @style.user.name , @style.user %></p>
                    
                    <p><%= @style.description %></p>
                    
             
                <p>
                   <p>
                     <% if user_signed_in? && (current_user.voted_for? @style) %>
                        <%= link_to unlike_style_path(@style), method: :put do %>
                            <i class='fa fa-heart'></i>
                         <% end %>
                     <% else %>
                        <%= link_to like_style_path(@style), method: :put do %>
                            <i class='fa fa-heart-o'></i>
                        <% end %>
                    <% end %>
                    <%= @style.votes_for.size%> likes
                </p>
                <% if @style.user == current_user %>
                  <%= link_to "Edit", edit_style_path %>
                <% end %>
                <%= link_to "Back", styles_path %>
					<hr> 
                
                
                

                    <div class="clearfix"></div>
                
                  
                  <h4>Comments</h4>
                <div class="form-group">
                  <%= form_for Comment.new do |f|   %>
                      <%= f.text_area  :content, class:"form-control", placeholder:"Enter your comment here!", required: true%>
                      <% if user_signed_in? %>
                            <%= f.hidden_field :user_id, value: current_user.id %>
                      <%end %>
                      <%= f.hidden_field :style_id, value: @style.id %>
                    <br>
                      <%= f.submit "Submit this comment", class:"btn btn-primary" %>
                     
                    <% end %>
                </div>
               <div class="comments"> 
                 
                  <% @style.comments.order('created_at DESC').each do |com| %>
                    <ul class="dm-sidebar-nav">
                      <%= link_to image_tag(com.user.image.url(:thumbnail)), com.user %>
                      <li><%= com.content  %><br> <small><%= com.user.name %> on <%= com.created_at.strftime("%b, %Y") %></small></li>
                    </ul>
                  <% end %>
                </div>
              </div> 
            </div><!-- content -->
        </div><!-- end general -->
                
	</section><!-- end colon14 -->

