    <section class="colon14">

     <% @name="Top Hair Styles" %>       
     <% Style.all.each do |style|    
        style.update_attributes(:total_votes => style.votes_for.size)
     end %> 


        <!-- START CONTENT AND SIDEBAR -->
        <div class="container general">
            <div id="content" class="single col-lg-12 col-md-12 col-sm-12">

                <div class="message text-center">
                    <h2>The most recent hairstyles on <span>Thomonique</span></h2>
                </div>
              
  <% @styles.each do |style| %>    
              
                <div class="col-lg-3 col-md-3 col-sm-6">
                    
                	<div class="portfolio-columns">
                    <%= link_to(style,  "data-no-turbolink" => true) do %>                  
                          <%= cl_image_tag(style.image1,  :x => style.crop_x, :y => style.crop_y, :width => style.crop_w, :height => style.crop_h, :crop => :crop ) %>
                    <div>
                      <br><br>
                    <h5><%= style.name %></h5>
                    </div>
                    <%end %>
                    <li class="list-group-item active">
                      <span class="badge"><%= style.total_votes %> likes</span>
                      <%= style.name %>
                </li>
                   </div>

                  
    
                </div>
    <% end %>            


        </div><!-- end container -->
         
    <!-- END CONTENT -->
    
	</section><!-- end colon1 -->


