<%= form_for(@site) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :subtitle %><br>
    <%= f.text_field :subtitle %>
  </div>
  <div class="field">
    <%= f.label :domain %><br>
    <%= f.text_field :domain %>
  </div>
  <div class="field">
    <%= f.label :subdomain %><br>
    <%= f.text_field :subdomain %>
  </div>
  <div class="field">
    <%= f.label :level %><br>
    <%= f.number_field :level %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :headercarousel %><br>
    <%= f.number_field :headercarousel %>
  </div>
  <div class="field">
    <%= f.label :welcomemessage %><br>
    <%= f.text_field :welcomemessage %>
  </div>
  <div class="field">
    <%= f.label :services %><br>
    <%= f.number_field :services %>
  </div>
  <div class="field">
    <%= f.label :reviews %><br>
    <%= f.number_field :reviews %>
  </div>
  <div class="field">
    <%= f.label :reservations %><br>
    <%= f.number_field :reservations %>
  </div>
  <div class="field">
    <%= f.label :styles %><br>
    <%= f.number_field :styles %>
  </div>
  <div class="field">
    <%= f.label :backgroundcolor %><br>
    <%= f.text_field :backgroundcolor %>
  </div>
  <div class="field">
    <%= f.label :textcolor %><br>
    <%= f.text_field :textcolor %>
  </div>
  <div class="field">
    <%= f.label :hightlightcolor %><br>
    <%= f.text_field :hightlightcolor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
