  <!-- /. Header Start ./-->
  <%= render "layouts/zheader" %>
  <!-- /. Header End ./--> 
  
  <!-- /.Slider Start ./-->
  <%= render "layouts/zslider" %>
  
  <!-- /.Slider End ./--> 
  <!-- /. Welcome Start ./-->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="welcome">
            <h2 class="main-title">Welcome To Our Spa Clinic</h2>
            <p class="welcome-txt">bob </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /. Welcome end ./-->
  
  <div class="mtop1"></div>
  
  <!-- /. Services Start ./-->
  <%= render "layouts/zservices" %>
  <!-- /. Services End ./-->   
  
  <!-- /. Quotes Start ./-->
  
  <%= render "layouts/zquotes" %>  
  <!-- /. Quotes End ./--> 
  
  <!-- /. Products start ./-->
  <div class="gap"></div>
  <%= render "layouts/zgallery" %>
  <div class="gap-50"></div>
  
  <!-- /. Footer Start ./-->
  <%= render "layouts/zfooter" %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @site.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @site.subtitle %>
</p>

<p>
  <strong>Domain:</strong>
  <%= @site.domain %>
</p>

<p>
  <strong>Subdomain:</strong>
  <%= @site.subdomain %>
</p>

<p>
  <strong>Level:</strong>
  <%= @site.level %>
</p>

<p>
  <strong>Address:</strong>
  <%= @site.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @site.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @site.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @site.zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @site.phone %>
</p>

<p>
  <strong>Headercarousel:</strong>
  <%= @site.headercarousel %>
</p>

<p>
  <strong>Welcomemessage:</strong>
  <%= @site.welcomemessage %>
</p>

<p>
  <strong>Services:</strong>
  <%= @site.services %>
</p>

<p>
  <strong>Reviews:</strong>
  <%= @site.reviews %>
</p>

<p>
  <strong>Reservations:</strong>
  <%= @site.reservations %>
</p>

<p>
  <strong>Styles:</strong>
  <%= @site.styles %>
</p>

<p>
  <strong>Backgroundcolor:</strong>
  <%= @site.backgroundcolor %>
</p>

<p>
  <strong>Textcolor:</strong>
  <%= @site.textcolor %>
</p>

<p>
  <strong>Hightlightcolor:</strong>
  <%= @site.hightlightcolor %>
</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
