
<div class="topbar">
            <div class="container">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p class="tagline">Call us : +90 532 02 02 // Email us : hello@designingmedia.com</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <ul class="dm-social">
                        <li><a href="#" data-toggle="tooltip" data-placement="bottom" class="icon-facebook" title="Facebook">Facebook</a></li>
                        <li><a href="#" data-toggle="tooltip" data-placement="bottom" class="icon-google-plus" title="Google+">Google+</a></li>
                        <li><a href="#" data-toggle="tooltip" data-placement="bottom" class="icon-twitter" title="Twitter">Twitter</a></li>
                        <li><a href="#" data-toggle="tooltip" data-placement="bottom" class="icon-pinterest" title="Pinterest">Pinterest</a></li>
                        <li><a href="#" data-toggle="tooltip" data-placement="bottom" class="icon-linkedin" title="Linkedin">Linkedin</a></li>
                        <li><a href="#" data-toggle="tooltip" data-placement="bottom" class="icon-rss" title="Feedburner">RSS</a></li>
                    </ul><!-- End Social --> 
                </div>
            </div>
        </div><!-- /topbar -->

      <header class="header-wrapper">
		<div class="container">
            	<div class="col-lg-2 col-md-2 col-sm-2">
                   <a class="navbar-brand" href="/"><i class="fa fa-scissors"></i> AnyStyle</a>
                </div>
            	<div class="col-lg-10 col-md-10 col-sm-12">
                          <nav class="navbar navbar-default fhmm" role="navigation">
                        <div class="navbar-header">
                            <button type="button" data-toggle="collapse" data-target="#defaultmenu" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                        </div><!-- end navbar-header -->
                        <div id="defaultmenu" class="navbar-collapse collapse container">
                            <ul class="nav navbar-nav">
                                <li><a href="/" ><i class="icon-home"></i> Home</a>
                                </li><!-- end standard drop down -->
                                <li><%= link_to "Hair Gallery", styles_path %></li>

                                <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Stylists <b class="caret"></b></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Top Stylist</a></li>
                                        <li><a href="#">Random Stylists</a></li>
                                       
                                    </ul><!-- end dropdown-menu -->
                                </li><!-- end standard drop down -->   
                               <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Styles <b class="caret"></b></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Top Styles</a></li>
                                        <li><a href="#">Random Styles</a></li>
                                       
                                    </ul><!-- end dropdown-menu -->
                                </li><!-- end standard drop down -->   
                              
                                 <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Contests <b class="caret"></b></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Daily Contests</a></li>
                                        <li><a href="#">Weekly Contests</a></li>
                                        <li><a href="#">Recent Winners</a></li>
                                       
                                    </ul><!-- end dropdown-menu -->
                                </li><!-- end standard drop down -->   
                             
                                <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">About <b class="caret"></b></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">About Anystyle</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                   
                                    </ul><!-- end dropdown-menu -->
                                </li><!-- end standard drop down -->  
                                                                            
                            </ul><!-- end nav navbar-nav -->
                            <ul class="nav navbar-nav navbar-right">
                                <% if user_signed_in? %>
                                  <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Logged in as <%= current_user.name %> <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                      <li><%= link_to "View Profile", current_user  %></li>
                                      <li><%= link_to "Edit Profile", edit_user_registration_path  %></li>
                                      <li><%= link_to "Add a Style", new_style_path  %></li>
                                      <li><%= link_to "Log Out", destroy_user_session_path, method: :delete  %></li>
                                    </ul>
                                  </li>
                                <% else %>
                                  <li><%= link_to "Sign up", new_user_registration_path  %></li>
                                  <li><%= link_to "Log in", new_user_session_path  %></li>
                                <% end %>
                              
                            </ul><!-- end nav navbar-nav navbar-right -->
                        </div><!-- end #navbar-collapse-1 -->
					</nav><!-- end navbar navbar-default fhmm -->
			</div><!-- /col10 -->
		</div><!-- /container -->
    </header><!-- /header wrapper -->


